<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script>
      // limits the number of candidate selections to 5
      var limit = 5;
      $('input.single-checkbox').on('change', function(evt) {
         if($(this).siblings(':checked').length >= limit) {
             this.checked = false;
         }
      });
    </script>
  </head>
  <body class="container">
    {% if not teamCreated %}
    <!-- check if team is created, if not display forms -->
      <h1>Create Team</h1>
      <form method="post">
        {% csrf_token %}
        <label for="teamName">Team name: </label>
        <input id="teamName" type="text" name="teamName" maxlength=200></input>
        <br />

        <label for="membersNeeded">Members needed: </label>
        <input id="membersNeeded" type="number" name="membersNeeded"></input>
        <br />

        <label for="teamDescription">Team description: </label>
        <br />
        <textarea id="teamDescription" name="teamDescription" style="width:800px; height:300px"></textarea>
        <br />

        <label for="tags">Tags (separate with commas): </label>
        <br />
        <textarea id="tags" name="tags" style="width:800px; height:100px"></textarea>
        <br />
        <input id="teamCreated" name="teamCreated" type="hidden" value={{teamCreated}}></input>
        <!-- pass back info to post function so that next iteration to go to the else code -->

        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    {% else %}
    <!-- once team is created go to choose candidate page -->
      <form method="post">
        {% csrf_token %}
        <h4>Select Candidates</h4>
        <table style="width:100%" class="table">
          <!-- table with username | match % | tags % | select box -->
          <tr>
            <th>username</th>
            <th>match%<th>
            <th>tags<th>
            <th>✔️</th>
          </tr>
          <!-- candidates loop -->
          {% for c in recs %}
          <tr>
            <th>{{c.0.username}}<th>
            <th>{{c.2}}</th>
            <th>
              {% for tag in c.0.usertag_set.all %}
                |{{tag}}|
              {% endfor %}
            </th>
            <th><input class="single-checkbox" type="checkbox" id={{forloop.counter}} name="candidates" value={{c.0.username}}></input></th>
          </tr>
          {% endfor %}
        </table>
        <!-- pass back info to post function for next iteration so that it knows to return to index -->
        <input id="teamCreated" name="teamCreated" type="hidden" value={{teamCreated}}></input>
        <!-- pass team id to add members to right team -->
        <input id="teamId" name="teamId" type="hidden" value={{teamId}}></input>
        <button type="submit" class="btn-primary">Submit</button>
      </form>
    {% endif %}
  </body>
<html>
