<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
  <body class="container">
    <div>
      <!-- navigation bar -->
      <nav class="navbar row navbar-expand-sm navbar-expand-md navbar-inverse navbar-dark bg-dark">
          <a class="navbar-brand" href="{% url 'index' %}">
              <span class="logo">Teams</span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
          </button>
          <ul class="navbar-nav collapse navbar-collapse" id="collapsibleNavbar">
              {% if user.is_authenticated %}
                <li class="navbar-item navbar-link">
                  <a href="{% url 'create' %}">Create</a>
                </li>
              {% endif %}
              <li class="navbar-item ml-auto">
                  <form method="POST">
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                      <input type="hidden" name="logout" value="logout"></input>
                      <button type="submit" class="btn btn-primary">Logout</button>
                    {% else %}
                      <input type="hidden" name="login" value="login"></input>
                      <button type="submit" class="btn btn-primary">Log In</button>
                    {% endif %}
                  </form>
              </li>
          </ul>
      </nav>
      <h1>Teams App</h1>
      {% if user.is_authenticated %}
      <form method="POST">
          {% csrf_token %}
          <h3>Hi {{user.username}}! Here are your teams</h3>
          <div class="row">
            {% for team in userTeams %}
            <div class="col-md-3">
              <div class="text-primary">
                <a href="teams\{{team.id}}">{{team.project_name}}</a>
              </div>
              <div class="text">
                {{team.project_description}}
                Members needed: {{team.members_needed}}
                Num members: {{team.num_members}}
                <div>
                  Tags:
                  <ul>
                    {% for tag in team.teamtag_set.all %}
                    <li>{{tag}}</li>
                    {% endfor %}
                  <ul>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
      </form>
      {% endif %}
      <h3>Here is a catalogue of teams that you might like</h3>
      <div class="row">
        {% for team in allTeams %}
        <div class="col-md-3">
          <div class="text-primary">
            <a href="teams\{{team.id}}">{{team.project_name}}</a>
          </div>
          <div class="text">
            {{team.project_description}}
            <br />
            Members needed: {{team.members_needed}}
            <br />
            Num members: {{team.num_members}}
            <div>
              Tags:
              <ul>
                {% for tag in team.teamtag_set.all %}
                <li>{{tag}}</li>
                {% endfor %}
              <ul>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
