<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div>
      <h1>Teams App</h1>
      {% if user.is_authenticated %}
        <h3>Here is a catalogue of teams that you might like</h3>
        <div class="row">
          {% for team in allTeams %}
          <div class="col-md-2">
            <div class="text-primary row">
              {{team.project_name}}
            </div>
            <div class="text">
              {{team.project_description}}
            </div>
          </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </body>
</html>
