<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
  <body class="container">
    <nav class="navbar row navbar-expand-sm navbar-expand-md navbar-inverse navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'index' %}">
            <span class="logo">Teams</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav collapse navbar-collapse" id="collapsibleNavbar">
            <!-- if user logged in enable create option -->
            {% if user.is_authenticated %}
              <li class="navbar-item">
                <a href="{% url 'profile' user.username %}" class="nav-link">My Profile</a>
              </li>
              <li class="navbar-item">
                <a href="{% url 'teams' %}" class="nav-link">My Teams</a>
              </li>
              <li class="navbar-item">
                <a href="{% url 'create' %}" class="nav-link">Create</a>
              </li>
            {% endif %}
        </ul>
    </nav>
    <h1>My Teams</h1>
    <div class="row">
      {% for team in allTeams %}
      <div class="col-md-3">
        <div class="text-primary">
          <a href="{% url 'team profile' team.id%}">{{team.project_name}}</a>
        </div>
        <div class="text">
          {{team.project_description}}
          <br />
          Members needed: {{team.members_needed}}
          <br />
          Num members: {{team.num_members}}
          <div>
            Tags:
            {% for tag in team.teamtag_set.all %}
            <span class="badge badge-pill badge-info">{{tag}}</span>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  <body>
</html>
