<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
  <body class="container">
    <nav class="navbar row navbar-expand-sm navbar-expand-md navbar-inverse navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'index' %}">
            <span class="logo">Teams</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav collapse navbar-collapse" id="collapsibleNavbar">
            <!-- if user logged in enable create option -->
            {% if viewer.is_authenticated %}
              <li class="navbar-item">
                <a href="{% url 'profile' viewer.username %}" class="nav-link">My Profile</a>
              </li>
              <li class="navbar-item">
                <a href="{% url 'teams' %}" class="nav-link">My Teams</a>
              </li>
              <li class="navbar-item">
                <a href="{% url 'create' %}" class="nav-link">Create</a>
              </li>
            {% endif %}
        </ul>
    </nav>
    <!-- if the page is not in edit mode -->
    {% if not edit %}
      <h1>Profile: {{page_user.username}}</h1>
      <div>Name: {{profile.name}}</div>
      <div>Age: {{profile.age}}</div>
      <div>City: {{profile.city}}</div>
      <div>Bio: {{profile.bio}}</div>
      <div>
        Tags:
        {% for tag in tags %}
        <span class="badge badge-pill badge-info">{{tag.name}}</span>
        {% endfor %}
      </div>
      <br />
      {% if isAuthenticated and isProfileUser %}
        <form method="POST">
          {% csrf_token %}
          <!-- to signify that edit has been activated -->
          <input type="hidden" id="edit" name="edit" value="edit"></input>
          <button type="submit" class="btn btn-warning">Edit</button>
        </form>
      {% endif %}
    {% else %}
      <form method="POST">
        {% csrf_token %}
        <label for="nInput">Name:</label>
        <input id="nInput" type="text" name="nInput" value={{profile.name}}></input>
        <br />
        <label for="aInput">Age:</label>
        <input id="aInput" type="number" name="aInput" value={{profile.age}}></input>
        <br />
        <label for="cInput">City:</label>
        <input id="cInput" type="text" name="cInput" value={{profile.city}}></input>
        <br />
        <label for="bInput">Bio:</label>
        <textarea id="bInput" name="bInput" style="width:800px; height:100px" maxlength=1024>{{profile.bio}}</textarea>
        <br />
        <label for="tags">Tags (separate with commas): </label>
        <br />
        <textarea id="tags" name="tags" style="width:800px; height:100px" maxlength=1024>{{tagStr}}</textarea>
        <br />
        <button type="submit" class="btn btn-warning" value="editsubmit" name="editsubmit">Submit</button>
      </form>
    {% endif %}
    <div>Teams</div>
    <ul>
      <!-- link entry to team page -->
      {% for team in profile.user.team_set.all %}
      <li><a href="{% url  'team profile' team.id %}">{{team.project_name}}</a></li>
      {% endfor %}
    </ul>
  </body>
</html>
