<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h1>Profile: {{user.username}}</h1>
    <div>name: {{profile.name}}</div>
    <div>age: {{profile.age}}</div>
    <div>city: {{profile.city}}</div>
    <div>bio: {{profile.bio}}</div>
    <div>skills</div>
    <ul>
      {% for tag in profile.user.tag_set.all %}
      <li>{{tag}}</li>
      {% endfor %}
    </ul>
    <div>teams</div>
    <ul>
      <!-- link entry to team page -->
      {% for team in profile.user.team_set.all %}
      <li><a href="{% url  'team profile' team.id %}">{{team.project_name}}</a></li>
      {% endfor %}
    </ul>
  </body>
</html>
